src/*.exe
src/blackdragoncoin
src/blackdragoncoind
src/test_blackdragoncoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.blackdragoncoin

# Compilation and Qt preprocessor part
*.qm
Makefile
Makefile.*
blackdragoncoin-qt
BlackDragonCoin-Qt.app

# Unit-tests
Makefile.test
blackdragoncoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

#Win32 qt
release
debug
object_script.*
blackdragoncoin-qt_plugin_import.cpp

!src/leveldb*/Makefile
